.form-light {
  background-color: #ffffff;
}

.content-wrapper {
  padding: 1.5rem 1.5rem;
}

.brand-logo {
  margin-bottom: 2rem;
  display: flex;
}

.brand-logo h3 {
  display: inline-block !important;
  margin-bottom: 0;
  align-items: center;
}

.form-control {
  font-size: 0.925rem;
}
